@charset "UTF-8";

/* Document */

body {
	
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
	color: #343747;
	
	margin: 0;
	
}

/* Page Headers*/ 

.page-header {
	background: #E06841;
}

#page-header-emblem-container {
	margin: 75px auto 75px auto;
	text-align: center;
}

#page-header-content-container {
	
	color: white;
	text-align: center;
	
	padding-bottom: 75px;

}

.page-header p {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica", Arial, sans-serif;
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 1px;
}

/* Navigation */

nav {
	width: 100%;
	height: 80px;
	padding-top: 20px;
	
	text-align: center;
	line-height: 40px;		
}

nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
	max-width: 450px;
	padding: 0;
	margin: 0 auto;
}

nav ul li a {
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
	
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	
	transition: color 0.25s;
}

nav ul li a:hover {
	color: white;
}

nav ul li a.selected {
	color: white;	
}

nav ul li a.selected:after {
	
	content: "";
	display: block;
	visibility: visible;
	
	width: 4px; 
	height: 4px; 
	margin: auto auto;
	
	border-radius: 2px; 
	background: white;
	transition: background 0.15s;
	
}

/* Text Styles */

h1 {
	
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 50px;
	
}

p {

	font-size: 21px;
	font-weight: 300;
	
}

a {
	
	color: #E06841;
	text-decoration: none;
	
}

.left {
	
	text-align: left;
	
}

.disclosure {
	color: #E06841;
	transition: background 0.2s ease-out, border-radius 0.2s ease-out, box-shadow 0.2s ease-out, padding 0.2s ease-out;
}

.disclosure.light {
	color: white;
}

.disclosure::after {
	
	content: "";
	display: inline-block;
	width: 7px;
	height: 12px;
    margin-left: 5px;
	   
	background-image: url('/resources/disclosure.svg');
    background-repeat: no-repeat;
    background-size: 7px 11px;
    background-position: right bottom;
    
    transition: margin-left 0.2s;
    
}

.disclosure.light:after {
	background-image: url('/resources/disclosure-light.svg');
}

.disclosure:hover {
	background: white;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.disclosure.light:hover {
	color: #E06841;
}

.disclosure:hover:after {
	margin-left: 8px;
}

.disclosure.light:hover:after {
	background-image: url('/resources/disclosure.svg');
}

.disclosure:active {
	padding: 8px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

/* Footer Elements */

footer {
	
	padding: 50px;
	background: rgba(0, 0, 0, 0.10);
	
	color: white;
	
}

.footer-content-container {
	
	margin: auto auto;
	max-width: 1100px;
	
}

footer p {
	font-size: 10pt;
	font-weight: normal;
}

#footer-network-container {
	float: right;
}

.footer-network-button {
	margin: 20px;
}

/* Miscellaneous */

*::selection {
	
	background: #E06841;
	color: white;
	
}

.noselect {
	
	-webkit-user-drag: none;
	-webkit-user-modify: none;
	-webkit-user-select: none;
	
	-moz-user-focus: none;
	-moz-user-input: none;
	-moz-user-modify: none;
	-moz-user-select: none;
	
}

@media (hover: hover) {
  
  nav ul li a:not(.selected):hover:after {
  	
    	content: "";
    	display: block;
    	visibility: visible;
    	
    	width: 4px; 
    	height: 4px; 
    	margin: auto auto;
    	
    	border-radius: 2px; 
    	background: rgba(255, 255, 255, 0.25);
    	transition: background 0.15s;
  	
  }
  
}

/* Size Optimizations */

@media screen and (max-width: 700px) {
	
	/* Text Styles */
	
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 20px;
	}
	
	/* Header */
	
	#page-header-emblem-container {
		margin: 20px 0px;
	}
	
	#page-header-content-container {
		padding: 20px;
	}
	
	#page-header-content-container p {
		font-size: 1.5em;
	}
		
	/* Footer */
	
	footer {
		padding: 50px 30px;
		overflow: hidden;
	}
	
	footer p {
		margin: 30px auto;
	}
	
	#footer-network-container {
		float: none;
		text-align: center;
		margin: auto auto;
	}

}