@charset "UTF-8";

body {
	--key-color: #E06841;
	--primary-background-color: white;
	--secondary-background-color: #F4F3F5;
	--primary-text-color: black;
	--secondary-text-color: #8B8B8B;
	--horizontal-rule-color: #E1E1E1;
	--animation-timing-curve: cubic-bezier(0.005, 1.000, 1.000, 1);

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
}

@media (prefers-color-scheme: dark) {
	body {
		--primary-background-color: #131415;
		--secondary-background-color: #09090A;
		--primary-text-color: white;
		--horizontal-rule-color: #323232;
	}
}

/* Text Styles */

.center {
	text-align: center;
}

h1 {
	font-weight: 800;
	font-size: 120px;
	letter-spacing: 2.4px;
}

h2 {
	font-weight: 800;
	font-size: 88px;
	letter-spacing: 1.76px;
}

h3 {
	font-weight: 700;
	font-size: 48px;
	letter-spacing: -1.24px;
}

h4 {
	font-weight: 600;
	font-size: 25px;
	letter-spacing: 6.91px;
	text-transform: uppercase;
}

p,
time {
	font-size: 30px;
	letter-spacing: -0.59px;
	line-height: 44px;
}

a {
	color: var(--key-color);
}

a.button {
	padding: 1em 2em;
	border: 2px solid var(--horizontal-rule-color);
	border-radius: 40px;
	font-weight: 600;
	text-decoration: none;
	transition: background-color 0.15s var(--animation-timing-curve);
}

a.button::after {
	content: '→';
	margin-left: 7px;
}

@media (hover: hover) {
	a.button:hover {
		background-color: var(--horizontal-rule-color);
	}
}

@media (max-width: 1440px) {
	h1 {
		font-size: 90px;
		letter-spacing: 2.4px;
	}
	
	h2 {
		font-size: 62px;
		letter-spacing: 1.24px;
	}
	
	h3 {
		font-size: 31px;
		letter-spacing: -0.8px;
	}
	
	p,
	time {
		font-size: 18px;
		letter-spacing: -0.35px;
		line-height: 29px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 64px;
		letter-spacing: 1.28px;
	}
	
	h2 {
		font-size: 47px;
		letter-spacing: 0.94px;
	}
	
	h3 {
		font-size: 31px;
		letter-spacing: -0.8px;
	}
	
	p,
	time {
		font-size: 16px;
		letter-spacing: -0.31px;
		line-height: 27px;
	}
}

@media (max-width: 414px) {
	h1 {
		font-size: 51px;
		letter-spacing: 1px;
	}
	
	h2 {
		font-size: 37px;
		letter-spacing: 0.74px;
	}
	
	h3 {
		font-size: 21px;
		letter-spacing: -0.54px;
	}
	
	p {
		font-size: 16px;
	}
}

@media (max-width: 414px) {
	h1 {
		font-size: 51px;
		letter-spacing: 1px;
	}
	
	h2 {
		font-size: 37px;
		letter-spacing: 0.74px;
	}
	
	h3 {
		font-size: 21px;
		letter-spacing: -0.54px;
	}

	h4 {
		font-size: 18px;
	}
}





.activity-indicator {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(/resources/activity-indicator.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	animation: activity-indicator 1s linear infinite;
	-webkit-animation: activity-indicator 1s linear infinite;
	-moz-animation: activity-indicator 1s linear infinite;
}

@keyframes activity-indicator {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}






/* Page Headers */ 

header {
	background-color: var(--key-color);
	padding: 46px 0;
	background-image: url(/resources/home-header-iPhone.svg), url(/resources/home-header-apps.svg);
	background-position: left 50px bottom -70px, right 50px bottom -70px;
	background-repeat: no-repeat;
}

header svg {
	display: block;
	margin: 60px auto 53px auto;
}

@media (prefers-color-scheme: dark) {
	header {
		background-color: #0F0F0F;
		background-image: url(/resources/home-header-iPhone-dark.svg), url(/resources/home-header-apps-dark.svg);
	}

	header svg path {
		fill: var(--key-color);
	}
}

@media (max-width: 900px) {
	header {
		background-size: 20% auto, 20% auto;
		background-position: left 30px bottom -30px, right 20px bottom -30px;
	}
}

@media (max-width: 768px) {
	header {
		/* background-size: 307px auto, 206px auto; */
		background-position: left 30px bottom, right 30px center;
	}
}

@media (max-width: 612px) {
	header {
		background-image: none;
	}
}

/* Navigation */

nav {
	width: 100%;
	text-align: center;
	line-height: 40px;		
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	max-width: 185px;
	padding: 0;
	margin: 0 auto;
}

nav ul li a {
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	transition: color 0.25s;
}

nav ul li a:hover {
	color: white;
}

nav ul li a.selected {
	color: white;	
}

nav ul li a.selected:after {
	content: "";
	display: block;
	visibility: visible;
	width: 4px; 
	height: 4px; 
	margin: auto auto;
	border-radius: 2px; 
	background: white;
	transition: background 0.15s;
}

@media (hover: hover) {
	nav ul li a:not(.selected):hover:after {
		content: "";
		display: block;
		visibility: visible;
		width: 4px; 
		height: 4px; 
		margin: auto auto;
		border-radius: 2px; 
		background: rgba(255, 255, 255, 0.25);
		transition: background 0.15s;
	}
}

/* Posts */

#posts {
	padding: 70px 0;
	text-align: center;
	background-image: linear-gradient(to bottom, var(--secondary-background-color) 0%, var(--primary-background-color) 70%);
}

#posts h2 {
	position: relative;
	width: max-content;
	margin: 70px auto;
}

#posts h2::before {
	content: '';
	position: absolute;
	width: 118px;
	height: 100px;
	top: -50px;
	right: -90px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 50%, 0 50%);
	background-image: url(../resources/accessory-background-pattern.svg);
	background-size: 25px;
}

.posts-list-container {
	position: relative;
	max-width: 856px;
	margin: 0 auto;
}

.posts-list {
	position: relative;
	margin: 0 auto;
	z-index: 1;
	list-style: none;
	padding: 1px 50px;
	box-sizing: border-box;
	border-radius: 24px;
	text-align: left;
	background: var(--primary-background-color);
}

.posts-list li {
	margin-top: 40px;
	padding-bottom: 20px;
}

.posts-list li:not(:last-of-type) {
	border-bottom: 1px solid var(--horizontal-rule-color);
}

.posts-list a {
	color: var(--primary-text-color);
	text-decoration: none;
}

.posts-list h3 {
	margin: 0 0 5px 0;
}

.posts-list time {
	display: block;
	color: var(--secondary-text-color);
}

time.updated::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background-color: gray;
    margin: 0 0.5em;
    vertical-align: middle;
}

.posts-list p {
	margin: 1em 0;
}

#posts .loading {
	margin: 30px 0;
}

#posts .loading p {
	margin: 10px 0;
	color: var(--secondary-text-color);
}

@media (max-width: 1440px) {

	.posts-list-container,
	.posts-list {
		max-width: 690px;
	}

}

@media (max-width: 640px) {
	.posts-list  {
		padding: 1px 30px;
	}

	.posts-list li {
		margin-top: 30px;
	}
}

@media (max-width: 414px) {
	#posts {
		padding: 20px 0;
	}
}

/* Footer Elements */

footer {
	padding: 2em;
	box-sizing: border-box;
	color: darkgray;
	text-align: center;
}

footer .width-wrapper {
	max-width: 550px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	footer .width-wrapper {
		width: 100%;
	}
}

/* Miscellaneous */

.width-wrapper {
	width: max-content;
	margin: 0 auto;
}

*::selection {
	
	background: #E06841;
	color: white;
	
}

.noselect {
	-webkit-user-drag: none;
	-webkit-user-modify: none;
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-input: none;
	-moz-user-modify: none;
	-moz-user-select: none;	
}






/* Device Models */

.device-model-apple-watch {
	background: url(../uv-forecast/resources/device-model-background.svg);
	background-size: contain;
	background-position: center center bottom;
	background-repeat: no-repeat;

	--device-model-width: 281px;
	width: var(--device-model-width);
	height: calc(var(--device-model-width) * 1.1);

	display: flex;
	justify-content: center;
	align-items: center;
}

.device-model-apple-watch > * {
	width: 70.5%;
	height: 78%;
	margin-left: calc(var(--device-model-width) * -0.043);
}







/* Animations */

@keyframes accessory-float {
	from { transform: rotate(0turn) }
	to { transform: rotate(1turn) }
}

@keyframes three-point-turn {
	0% { transform: translate(0, 0) rotate(0turn) }
	30% { transform: translate(50px, -25px) rotate(0.25turn) }
	60% { transform: translate(50px, 25px) rotate(-0.25turn) }
	100% {transform: translate(0, 0) rotate(0turn) }
}

/* Build-in Animations */

/* Default build-in animation. Fades opacity and slides up */
.build-in {
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 1s var(--animation-timing-curve), transform 1s var(--animation-timing-curve);
}

.build-in.from-left {
	transform: translateX(-50px);
}

.build-in.from-right {
	transform: translateX(50px);
}

.build-in.second {
	transition-delay: 0.25s;
}

.build-in.third {
	transition-delay: 0.5s;
}

.build-in.scale {
	transform: scale(0.0);
}

.build-in.start {
	opacity: 1;
	transform: none;
}

@media (prefers-reduced-motion: reduce) {
	.build-in {
		transition: none;
		opacity: 1;
		transform: none;
	}
}