body {
	background: #E06841;
}

/* Page Header */

.page-header {
	background-image: url('/resources/home-header-background-left.svg'), url('/resources/home-header-iPhone.svg');
	background-repeat: no-repeat;
	background-size: 250px, 190px;
	background-position: left center, right center;
}

/* Experiences Section */

#experience-section {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	background: #F9F9FB;
	padding-top: 50px;
	
}

#experience-hero {
	width: 250px;
	margin: 0px 100px;
}

#experience-content {
	width: 50%;
}

#section-background-separator {
	position: relative;
	z-index: 2;
	
	width: 100vw;
	height: 100px;
	
	background: url('/resources/section-divide-pattern.svg') ;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;	
}

/* WWDC Section */

@keyframes wwdc-image-rotate {
	0% { transform: rotate(-5deg); }
	30% { transform: rotate(3deg); }
	70% { transform: rotate(-1deg); }
	100% { transform: rotate(0deg); }
}

#wwdc-section {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	margin-top: -90px;
	
	background: #E06841;
	padding: 90px 0px 50px 0px;
	color: white;
		
}

#wwdc-section > div {
	margin: 0px 50px;
}

#wwdc-content {
	order: 1;
}

#wwdc-image-container {
	order: 2;
}

#wwdc-image {
	margin-top: -30px;
	transform-origin: top center;
	transition: transform 0.1s;
}

#wwdc-image.animated {
	/* Animation */
	animation: wwdc-image-rotate 1s;
	animation-timing-function: ease-out;
}

#wwdc-image-shadow {
	position: relative;
}

/* Screen Optimizations */

@media screen and (max-width: 700px) {
	
	/* Page Header */
	
	.page-header {
		background-image: none;
	}

	/* Experiences Section */
	
	#experience-section {
		flex-direction: column;
		padding: 10px 30px;
	}
	
	#experience-content {
		width: 100%;
	}
	
	#experience-hero {
		width: 40%;
	}
	
	/* WWDC Section */
	
	#wwdc-section {
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		padding-bottom: 50px;
		
	}
	
	#wwdc-content {
		order: 2;
	}
	
	#wwdc-image-container { 
		order: 1;
	}
	
}