@charset "UTF-8";

html, body {
	margin: 50px;
	background: #FFF8EF;
}

div {
	max-width: 500px;
	margin: auto auto;
}

div > img {
	display: block;
	margin: auto auto;
	margin-bottom: 30px;
}

div p {
	color: #343747;
	font-family: monospace;
	letter-spacing: 0.5pt;
	line-height: 24pt;
	font-weight: 400;
}

p a {
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: inherit;
	
	transition: border-bottom 0.2s;
}

p a:hover {
	border-bottom: 1px solid red;
}

@media screen and (max-width: 700px) {
	html, body {
		margin: 10px;
	}
}