@charset "UTF-8";

body {
	margin: 0;
	background: white;
}

/* Navigation */

nav {
	display: block;
	position: fixed;
	width: 100vw;
	height: auto;
	padding: 20px;
	z-index: 999;
	
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
	
	color: gray;
	font-size: 10pt;
	font-weight: 600;
	text-align: left;
	line-height: normal;
	text-transform: uppercase;
}

nav > a {
	color: #E06841;
	transition: opacity 0.2s;
}

nav > a:hover {
	opacity: 0.5;
}

/* Content */

code {
	font-family: "SF Mono", monospace;
	font-size: 0.9em;
}

/* Containers */

.product_content_container {
	background: -webkit-linear-gradient(#F4F5F8 0%, #ffffff 100%);
	padding: 100px 120px;
}

.product_content_container_internal {
	margin: auto auto;
	max-width: 900px;
}

.product_content_container_internal > h1 {
	font-weight: 700;
	letter-spacing: 0px;
}

.product_content_title_icon {
	margin-right: 30px;
	vertical-align: top;
	
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.product_title_attribute {
	font-weight: 500;
	color: #93959E;
	
	margin-right: 40px;
}

.product_content_body {
	line-height: 30px;
}

/* Size Optimizations */

@media screen and (max-width: 700px) {
	
	/* Product Content Sections */

	.product_content_container {
		padding: 20px 40px;
	}
	
	.product_content_container:first-of-type {
		padding-top: 60px;
	}
	
	.product_content_title_icon {
		display: block;
		margin-bottom: 20px;
	}
	
	.product_title_attribute {
		margin-right: 10px;
	}
	
	.product_content_body_container {
		margin-left: 0px;
	}
	
}

@supports(-webkit-backdrop-filter: blur()) {
	
	nav {
		background: rgba(255, 255, 255, 0.5);
		-webkit-backdrop-filter: blur(30px);
	}
	
}
